RayTracer.sln
.vs/RayTracer/v16/.suo
.vs/RayTracer/v16/Browse.VC.db
.vs/RayTracer/v16/Browse.VC.opendb
.vs/RayTracer/v16/ipch/AutoPCH/23b98ae61409e3ce/VECTOR4.ipch
.vs/RayTracer/v16/ipch/AutoPCH/2b766a5e518b2799/MATHUTILITYFUNCTIONS.ipch
.vs/RayTracer/v16/ipch/AutoPCH/32a11a1cb6093e23/MATRIX44.ipch
.vs/RayTracer/v16/ipch/AutoPCH/3d4baf3bb083c1cf/MATHUTILITYFUNCTIONS.ipch
.vs/RayTracer/v16/ipch/AutoPCH/4aca42d219454464/SCENE.ipch
.vs/RayTracer/v16/ipch/AutoPCH/555cb6064b7ddab4/SCENE.ipch
.vs/RayTracer/v16/ipch/AutoPCH/5613c47affd170a0/RAY.ipch
.vs/RayTracer/v16/ipch/AutoPCH/5f5ebbd1af4bae07/VECTOR3.ipch
.vs/RayTracer/v16/ipch/AutoPCH/61605a9ebadef94b/MATRIX33.ipch
.vs/RayTracer/v16/ipch/AutoPCH/664b9443a29b3cab/RENDEROPTIONS.ipch
.vs/RayTracer/v16/ipch/AutoPCH/73404af4bf3671a5/SHAPE.ipch
.vs/RayTracer/v16/ipch/AutoPCH/741061bd41865d59/MATERIAL.ipch
.vs/RayTracer/v16/ipch/AutoPCH/79fd668ef77659/MAIN.ipch
.vs/RayTracer/v16/ipch/AutoPCH/8844969f7942c1ca/MATHUTILITYFUNCTIONS.ipch
.vs/RayTracer/v16/ipch/AutoPCH/9043b02b3fdcadd4/SCENE.ipch
.vs/RayTracer/v16/ipch/AutoPCH/953d74dad31a07e7/SCENE.ipch
.vs/RayTracer/v16/ipch/AutoPCH/95b0081fa82a84f6/SHAPE.ipch
.vs/RayTracer/v16/ipch/AutoPCH/99951b41dae69655/SHAPE.ipch
.vs/RayTracer/v16/ipch/AutoPCH/9c16132bb94db5fa/VECTOR3.ipch
.vs/RayTracer/v16/ipch/AutoPCH/9f8c14f54ad92533/VECTOR2.ipch
.vs/RayTracer/v16/ipch/AutoPCH/a497af770d826913/RAY.ipch
.vs/RayTracer/v16/ipch/AutoPCH/ae9d226c302f566f/UTILITIES.ipch
.vs/RayTracer/v16/ipch/AutoPCH/b4261cd8e030b21f/UTILITIES.ipch
.vs/RayTracer/v16/ipch/AutoPCH/b71ddc8f0859d212/MAIN.ipch
.vs/RayTracer/v16/ipch/AutoPCH/bf31813b8a47f6d1/MATERIAL.ipch
.vs/RayTracer/v16/ipch/AutoPCH/c88cd7fda67ed0fe/MATRIX33.ipch
.vs/RayTracer/v16/ipch/AutoPCH/dcab419eec3d4635/SHAPE.ipch
.vs/RayTracer/v16/ipch/AutoPCH/dcc99d817c356ba9/MAIN.ipch
.vs/RayTracer/v16/ipch/AutoPCH/e09b95eda1626e10/CAMERA.ipch
.vs/RayTracer/v16/ipch/AutoPCH/fc416128f733823/INTERSECTIONINFORMATION.ipch
Debug/RayTracer.exe
Debug/RayTracer.ilk
Debug/RayTracer.pdb
RayTracer/Debug/Camera.obj
RayTracer/Debug/IntersectionInformation.obj
RayTracer/Debug/main.obj
RayTracer/Debug/Material.obj
RayTracer/Debug/matrix33.obj
RayTracer/Debug/matrix44.obj
RayTracer/Debug/matrixmath.obj
RayTracer/Debug/Ray.obj
RayTracer/Debug/RayTracer.log
RayTracer/Debug/Scene.obj
RayTracer/Debug/Shape.obj
RayTracer/Debug/vc142.idb
RayTracer/Debug/vc142.pdb
RayTracer/Debug/vector2.obj
RayTracer/Debug/vector3.obj
RayTracer/Debug/vector4.obj
RayTracer/Debug/RayTracer.tlog/CL.command.1.tlog
RayTracer/Debug/RayTracer.tlog/CL.read.1.tlog
RayTracer/Debug/RayTracer.tlog/CL.write.1.tlog
RayTracer/Debug/RayTracer.tlog/link.command.1.tlog
RayTracer/Debug/RayTracer.tlog/link.read.1.tlog
RayTracer/Debug/RayTracer.tlog/link.write.1.tlog
RayTracer/Debug/RayTracer.tlog/RayTracer.lastbuildstate
RayTracer/x64/Debug/Camera.obj
RayTracer/x64/Debug/IntersectionInformation.obj
RayTracer/x64/Debug/main.obj
RayTracer/x64/Debug/Material.obj
RayTracer/x64/Debug/matrix33.obj
RayTracer/x64/Debug/matrix44.obj
RayTracer/x64/Debug/matrixmath.obj
RayTracer/x64/Debug/Ray.obj
RayTracer/x64/Debug/RayTracer.log
RayTracer/x64/Debug/RenderOptions.obj
RayTracer/x64/Debug/Scene.obj
RayTracer/x64/Debug/Shape.obj
RayTracer/x64/Debug/vc142.idb
RayTracer/x64/Debug/vc142.pdb
RayTracer/x64/Debug/vector2.obj
RayTracer/x64/Debug/vector3.obj
RayTracer/x64/Debug/vector4.obj
RayTracer/x64/Debug/RayTracer.tlog/CL.command.1.tlog
RayTracer/x64/Debug/RayTracer.tlog/CL.read.1.tlog
RayTracer/x64/Debug/RayTracer.tlog/CL.write.1.tlog
RayTracer/x64/Debug/RayTracer.tlog/link.command.1.tlog
RayTracer/x64/Debug/RayTracer.tlog/link.read.1.tlog
RayTracer/x64/Debug/RayTracer.tlog/link.write.1.tlog
RayTracer/x64/Debug/RayTracer.tlog/RayTracer.lastbuildstate
RayTracer/x64/Release/Camera.obj
RayTracer/x64/Release/IntersectionInformation.obj
RayTracer/x64/Release/main.obj
RayTracer/x64/Release/Material.obj
RayTracer/x64/Release/matrix33.obj
RayTracer/x64/Release/matrix44.obj
RayTracer/x64/Release/matrixmath.obj
RayTracer/x64/Release/Ray.obj
RayTracer/x64/Release/RayTracer.log
RayTracer/x64/Release/RenderOptions.obj
RayTracer/x64/Release/Scene.obj
RayTracer/x64/Release/Shape.obj
RayTracer/x64/Release/vc142.pdb
RayTracer/x64/Release/vector2.obj
RayTracer/x64/Release/vector3.obj
RayTracer/x64/Release/vector4.obj
RayTracer/x64/Release/RayTracer.tlog/CL.command.1.tlog
RayTracer/x64/Release/RayTracer.tlog/CL.read.1.tlog
RayTracer/x64/Release/RayTracer.tlog/CL.write.1.tlog
RayTracer/x64/Release/RayTracer.tlog/link.command.1.tlog
RayTracer/x64/Release/RayTracer.tlog/link.delete.1.tlog
RayTracer/x64/Release/RayTracer.tlog/link.read.1.tlog
RayTracer/x64/Release/RayTracer.tlog/link.write.1.tlog
RayTracer/x64/Release/RayTracer.tlog/RayTracer.lastbuildstate
RayTracer/x64/Release/RayTracer.tlog/RayTracer.write.1u.tlog
x64/Debug/RayTracer.exe
x64/Debug/RayTracer.ilk
x64/Debug/RayTracer.pdb
x64/Release/output.bmp
x64/Release/RayTracer.exe
x64/Release/RayTracer.iobj
x64/Release/RayTracer.ipdb
x64/Release/RayTracer.pdb
.vs/RayTracer/v16/ipch/AutoPCH/172aefa79c99fddb/RENDEROPTIONS.ipch
.vs/RayTracer/v16/ipch/AutoPCH/905d5c5c6ce9c7b0/RAY.ipch
x64/Release/output500.bmp
RayTracer/x64/
.vs/RayTracer/v16/ipch/AutoPCH/1e351f9d0454af8/RENDEROPTIONS.ipch
.vs/RayTracer/v16/ipch/AutoPCH/29c5e68b810b0128/RENDEROPTIONS.ipch
.vs/RayTracer/v16/ipch/AutoPCH/3a5530f317a00beb/CAMERA.ipch
.vs/RayTracer/v16/ipch/AutoPCH/ff05df6d92a3683b/CAMERA.ipch
bin/output.bmp
bin/output15.bmp
bin/RayTracerD.exe
bin/RayTracerD.ilk
bin/RayTracerD.pdb
bin/RayTracerR.exe
bin/RayTracerR.iobj
bin/RayTracerR.ipdb
bin/RayTracerR.pdb
.vs/
*.bmp
